include ../../../mixins/index

+b.section.--main-nach.SECTION
  +mainbg
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +breadcrumb("Nachrichtentitel", "Nachrichtentitel")
    +b.text.--date.P 22.08.2018