include ../../../mixins/index

+b.section.--company-first.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +company(
      "../../static/img/company.png",
      "#",
      "LOGO COMPANY",
      "Mit dem richtigen Riecher hat DGA zu Zeiten als noch niemand wirklich daran glaubte, das Potenzial der LED-Technologie erkannt und in diesem Sektor schon früh investiert. Mit Leidenschaft, Qualität und zeitloser Eleganz im Design hat DGA hochwertige Produkte entwickelt, welche die aktuellen Bedürfnisse in der Beleuchtung fortlaufend ansprechen und durch innovative Ideen auch neue Bedürfnisse zu wecken vermag"
      )
    
    +b.product-wrapper.g-row.g-row--appearance_spaced
      +product(
        "#",
        "../../static/img/product/product1.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
      
      +product(
        "#",
        "../../static/img/product/product2.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
      
      +product(
        "#",
        "../../static/img/product/product3.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
     
      +product(
        "#",
        "../../static/img/product/product4.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
      
      +product(
        "#",
        "../../static/img/product/product5.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
      
      +product(
        "#",
        "../../static/img/product/product6.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
      
      +product(
        "#",
        "../../static/img/product/product7.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
      
      +product(
        "#",
        "../../static/img/product/product8.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )

    +company(
      "../../static/img/company.png",
      "#",
      "LOGO COMPANY",
      "Mit dem richtigen Riecher hat DGA zu Zeiten als noch niemand wirklich daran glaubte, das Potenzial der LED-Technologie erkannt und in diesem Sektor schon früh investiert. Mit Leidenschaft, Qualität und zeitloser Eleganz im Design hat DGA hochwertige Produkte entwickelt, welche die aktuellen Bedürfnisse in der Beleuchtung fortlaufend ansprechen und durch innovative Ideen auch neue Bedürfnisse zu wecken vermag"
      )
    +b.product-wrapper.g-row.g-row--appearance_spaced
      +product(
        "#",
        "../../static/img/product/product1.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
      
      +product(
        "#",
        "../../static/img/product/product2.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
      
      +product(
        "#",
        "../../static/img/product/product3.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
      
      +product(
        "#",
        "../../static/img/product/product4.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )