include ../../../mixins/index

+b.section.--main-product.SECTION
  +mainbg
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.main-block
      +breadcrumb("Produkte", "Produkte")
      +b.text.--date.P 22.08.2018
    +b.main-block.--right 
      +b.link.A(
        href= "#"
      ) INDOORS
      +b.link.--is-active.A(
        href= "#"
      ) OUTDOORS