include ../../../mixins/index

+b.section.--results-project.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.text.H3 Search Result For: "Luxed"
    +b.result-project 
      +b.result-card
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr1.png",
          "",
          "Name des Projekts"
        )
     
      +b.result-card
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr2.png",
          "",
          "Name des Projekts"
        )
      
      +b.result-card
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr3.png",
          "",
          "Name des Projekts"
        )
      
      +b.result-card
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr4.png",
          "",
          "Name des Projekts"
        )
      
      +b.result-card
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr5.png",
          "",
          "Name des Projekts"
        )
      
      +b.result-card
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr6.png",
          "",
          "Name des Projekts"
        )
    
    +b.pagination-wrapper 
      +b.number 
        +b.text.P 1
      +b.number 
        +b.text.P 2
      +b.number.--is-active
        +b.text.P 3
      +b.number 
        +b.text.P 4
      +b.number 
        +b.text.P 5