include ../../../mixins/index

+b.section.--results-news.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.news-wrapper.g-row.g-row--appearance_spaced
      +b.new.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl
        +new-card(
          "../pages/nachrichtentitel.html",
          "../../static/img/news/news1.png",
          "22.08.2018",
          "Nachrichtentitel"
        )
      
      +b.new.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl
        +new-card(
          "../pages/nachrichtentitel.html",
          "../../static/img/news/news2.png",
          "22.08.2018",
          "Nachrichtentitel"
        )
      
      +b.new.g-cell.g-cols.g-cols--12-xs.g-cols--6-md.g-cols--4-xl
        +new-card(
          "../pages/nachrichtentitel.html",
          "../../static/img/news/news3.png",
          "22.08.2018",
          "Nachrichtentitel"
        )
    +b.pagination-wrapper 
      +b.number 
        +b.text.P 1
      +b.number 
        +b.text.P 2
      +b.number.--is-active
        +b.text.P 3
      +b.number 
        +b.text.P 4
      +b.number 
        +b.text.P 5