include ../../../mixins/index

+b.section.--results-product.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.product-wrapper.g-row.g-row--appearance_spaced
      +product(
        "#",
        "../../static/img/product/product1.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
      
      +product(
        "#",
        "../../static/img/product/product2.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
      
      +product(
        "#",
        "../../static/img/product/product3.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
     
      +product(
        "#",
        "../../static/img/product/product4.png",
        "tag1",
        "tag2",
        "tag3",
        "Name des Produkte"
      )
    
    +b.pagination-wrapper 
      +b.number 
        +b.text.P 1
      +b.number 
        +b.text.P 2
      +b.number.--is-active
        +b.text.P 3
      +b.number 
        +b.text.P 4
      +b.number 
        +b.text.P 5