include ../../../mixins/index

+b.section.--main-uber.SECTION
  +mainbg
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +breadcrumb("Über Uns", "Über Uns")
    +b.department-wrapper
      +e.text.P LUXED Beleuchtungen GmbH
      +e.text.--shot.P |
      +e.link.--phone(
        href= "tel:+41619030380"
      ) phone: +41 61 903 03 80