extends ../base
block header 
  include ../sections/header
block content
  main.main
    include ../sections/fachpartner/main-fach
    include ../sections/fachpartner/map-fach
    include ../sections/fachpartner/contacts
    include ../sections/other/text