extends ../base
block header 
  include ../sections/header
block content
  main.main
    include ../sections/results/main-results
    include ../sections/results/results-project
    include ../sections/results/results-product
    include ../sections/results/results-news
    include ../sections/other/text