extends ../base
block header 
  include ../sections/header
block content
  main.main
    include ../../mixins/index
    include ../sections/uber_unts/main-uber
    include ../sections/uber_unts/information-uber
    include ../sections/uber_unts/map-uber
    include ../sections/other/text