include ../../../mixins/index

+b.section.--contcts.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.cards-contact-wrapper#filter2
      +b.filter-card.reg1
        +card-contact(
          "Name der Region",
          "LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal"
        )
      
      +b.filter-card.reg1
        +card-contact(
          "Name der Region",
          "LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal"
        )
      
      +b.filter-card.reg2
        +card-contact(
          "Name der Region",
          "LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal"
        )
      
      +b.filter-card.reg3
        +card-contact(
          "Name der Region",
          "LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal"
        )
      
      +b.filter-card.reg4
        +card-contact(
          "Name der Region",
          "LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal"
        )
      
      +b.filter-card.reg4
        +card-contact(
          "Name der Region",
          "LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal"
        )
      
      +b.filter-card.reg5
        +card-contact(
        "Name der Region",
        "LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal"
      )
      
      +b.filter-card.reg5
        +card-contact(
          "Name der Region",
          "LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal"
        )
      
      +b.filter-card.reg5
        +card-contact(
          "Name der Region",
          "LUXED Beleuchtungen GmbH Benzburweg 18A CH- 4410 Liestal"
        )