include ../../../mixins/index

-
  const filter = [
    [{
      class: "filter-btn--is-active",
      filter: "*",
      text: "ALLE" 
    }],
    [{
      filter: ".office",
      text: "OFFICE" 
    }],
    [{
      filter: ".education",
      text: "EDUCATIONAL INSTITUTION" 
    }],
    [{
      filter: ".restaurant",
      text: "RESTAURANT" 
    }],
    [{
      filter: ".hotel",
      text: "HOTEL" 
    }],
  ]

+b.section.--filter.SECTION 
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.filter-wrapper
      each element in filter
        +filter-bar(element)

    +b.filter-content#filter
      +b.filter-card.office
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr1.png",
          "",
          "Name des Projekts"
        )
      +b.filter-card.office.education
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr2.png",
          "",
          "Name des Projekts"
        )
      +b.filter-card.education
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr3.png",
          "",
          "Name des Projekts"
        )
      +b.filter-card.education
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr4.png",
          "",
          "Name des Projekts"
        )
      +b.filter-card.restaurant
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr5.png",
          "",
          "Name des Projekts"
        )
      +b.filter-card.hotel
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr6.png",
          "",
          "Name des Projekts"
        )
      +b.filter-card.hotel
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr7.png",
          "",
          "Name des Projekts"
        )
      +b.filter-card.hotel
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr8.png",
          "",
          "Name des Projekts"
        )
      +b.filter-card.hotel
        +new-card(
          "../pages/projekt.html",
          "../../static/img/projektes/pr9.png",
          "",
          "Name des Projekts"
        )