<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css">
    <link rel="icon" href="/static/img/3rhombs.svg" type="image/x-icon">
  </head>
  <body>
    <div id="app">
      <header class="header">
                          <div class="section section--header">
                                              <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                  <div class="header-wrapper">
                                                                                      <div class="menu-burger"> <span class="menu-burger__item menu-burger__item--top"> </span><span class="menu-burger__item menu-burger__item--center"> </span><span class="menu-burger__item menu-burger__item--bottom"></span>
                                                                                      </div><a class="logo-link" href="#"> <img class="logo-image" src="../static/img/logo.png" alt="luXed" title=""/></a>
                                                                                      <ul class="header-menu"> 
                                                                                                                <li class="header-menu__item"> <a class="menu-link" href="#">Produkte</a>
                                                                                                                </li>
                                                                                                                <li class="header-menu__item"><a class="menu-link" href="#">Über Uns</a>
                                                                                                                </li>
                                                                                                                <li class="header-menu__item"> <a class="menu-link" href="#">Projekte</a>
                                                                                                                </li>
                                                                                                                <li class="header-menu__item"><a class="menu-link" href="#">News</a>
                                                                                                                </li>
                                                                                                                <li class="header-menu__item"> <a class="menu-link" href="#">Agenten</a>
                                                                                                                </li>
                                                                                                                <li class="header-menu__item"><a class="menu-link" href="#">Fachpartner</a>
                                                                                                                </li>
                                                                                                                <li class="header-menu__item header-menu__item--lang"><a class="menu-link" href="#">
                                                                                                                                                            <p class="text text--de">DE 
                                                                                                                                                            </p></a>
                                                                                                                                    <p class="text">|
                                                                                                                                    </p><a class="menu-link" href="#"><span class="text text--fr"> FR</span></a>
                                                                                                                </li>
                                                                                      </ul>
                                                                                      <div class="search"><img class="search__image" src="../static/img/icon/search.png"/>
                                                                                      </div>
                                                                                      <div class="social-wrapper"><a class="social-wrapper__link" href="#"> <img class="social-image" src="../static/img/icon/fb.png"/></a><a class="social-wrapper__link" href="#"> <img class="social-image" src="../static/img/icon/link.png"/></a>
                                                                                      </div>
                                                                  </div>
                                              </div><span class="line"></span>
                          </div>
      </header>
      <footer class="footer">
                          <section class="section section--footer">
                                              <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl"><span class="marker">
                                                                                                      <p class="marker__text">&#x42;
                                                                                                      </p></span>
                                                                  <p class="text">Copyright © 2021 Startuprr, All Rights Reserved.
                                                                  </p>
                                              </div>
                          </section>
      </footer>
    </div>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq4JCX3T23IUj32KRtJsrC5xzN0YDy7zM&amp;callback=initMap&amp;libraries=&amp;v=weekly" async></script>
  </body>
</html>